<div class="row">
  <div class="large-8 columns">
    <h3>About Devcast.in</h3>
    <p>Devcast.in is a site for developers who want to learn new skills or keep up with new technologies, languages, frameworks and more.</p>

    <h3>How do I sign up?</h3>
    <p>You only need to sign up when you wish to purchase a video. All user authentication is done via GitHub, so you'll need a GitHub account to join. No passwords are handled by Devcasts. Once you sign in we get access to your name and email address.</p>

    <h3>How do I pay?</h3>
    <p>All payments are processed through Stripe. They handle all payments and card details. You do not need a Stripe account to purchase a video.</p>

    <h3>What video types do I get?</h3>
    <p>When you purchase a video you'll get a high quality mp4 video file, recorded at 1280x800 resolution. Along with streaming the video live on the site you'll also be able to download a copy for use on your own devices. Purchases never expire.</p>

    <h3>Something went wrong!</h3>
    <p>Please tweet @devcastin or email devcastin@gmail.com, and your problem will be looked into as soon as possible.</p>

    <h3>Refunds</h3>
    <p>If you buy a video but are disappointed with it, email devcastin@gmail.com within 28 days of purchasing and you will be issued a full refund, no questions asked.</p>

  </div>
  <%= erb :search_sidebar %>
</div>
