<div class="row">
  <div class="large-12 columns">
    <form action="" method="post">
      <div class="row">
        <div class="large-12 columns">
          <label>Title
            <input type="text" name="title" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Description</label>
          <textarea name="description"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>Topics
            <input type="text" name="topics" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <label>S3 URL
            <input type="text" name="s3_url" />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <input id="checkbox1" type="checkbox" name="is_free"><label for="checkbox1">Is Free?</label>
        </div>
      </div>

      <input type="submit" class="button" value="Save" />

    </form>
  </div>
</div>
