<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devcast.in</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link href="http://vjs.zencdn.net/4.5/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.5/video.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% if ENV["PREVIEW_MODE"] %>
    <div class="preview-mode">
      <h1>Devcast.in</h1>
      <p>Short, focused screencasts for web developers. Coming soon.</p>
      <a href="http://twitter.com/devcastin">Follow on Twitter for updates.</a>
    </div>
  <% else %>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Devcast.in</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="/user/<%= current_user.id %>"><%= current_user.name %></a></li>

          <% if signed_in? %>
            <li><a href="/logout">Logout</a></li>
          <% else %>
            <li><a href="/auth/github">Log In / Sign Up</a></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Left Nav Button</a></li>
        </ul>
      </section>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  <% end %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3206068-22', 'devcast.in');
    ga('send', 'pageview');

  </script>
</body>
</html>
