<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devcast.in</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Devcast.in</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/user/<%= current_user.id %>"><%= current_user.name %></a></li>

        <% if signed_in? %>
          <li><a href="/logout">Logout</a></li>
        <% end %>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>
    </section>
  </nav>
  <div class="row">
    <div class="large-12 columns">
      <h1>Devcast.in</h1>
      <p>Premium content for developers blah blah tagline</p>
    </div>
  </div>
  <%= yield %>
</body>
</html> 
