<ul class="small-block-grid-3">
  <% @videos.each do |video| %>
    <li>
      <h4>
        <a href="/videos/<%= video.id %>"><%= video.title %></a>
        <% if video.free? %>
          <span class="label">Free</span>
        <% end %>
        <br>
        <small><%= video.created_at.stamp('1st of January 1992') %></small>
      </h4>
      <p>Topics covered: <%= video.topics.join(", ") %>.</p>
    </li>
  <% end %>
</ul>
