<div class="row">
  <div class="large-12 columns">
    <h1>Purchasing:</h1>
    <h3><%= @video.title %></h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <% if current_user.credits_remaining > 0 %>
      <p>Click the link below to purchase this video for <strong>one credit</strong>.</p>
      <p>Once purchased the video will be added to your account and you will be emailed a download link.</p>
      <form action="/purchase/<%= @video.id %>" method="post">
        <input type="submit" value="Purchase (one credit)" class="button" />
      </form>
    <% else %>
      <p>You need to buy some more credits to purchase this video.</p>
    <% end %>
  </div>
</div>
