<div class="large-3 large-offset-1 columns">
  <h3>Credits</h3>
  <p>Devcast.in runs off a credit based system. Each video costs 1 credit, and you can buy credits in sets of 5 or 10 at a time. <a href="/purchase_credits">Purchase Credits</a>.</p>


  <form action="/search" method="get">
    <h3>Search</h3>
    <p>Search for a particular topic, framework or language.</p>
    <div class="row collapse">
      <div class="small-9 columns">
        <input type="text" name="text" placeholder='javascript' />
      </div>
      <div class="small-3 columns">
        <input type="submit" value="Search" class="postfix button">
      </div>
    </div>
  </form>


  <h3>Archives</h3>
  <p>Devcast.in features <%= Video.all.length %> videos on a number of topics. <a href="/archives">View the archives</a> to find the video you're looking for.</a></p>

<h3>About</h3>
<p>Devcasts are short, focused videos on a particular topic. <a href="/about">Find out more</a>.</p>

<h3>Support</h3>
<p>For any questions or problems, either tweet @devcastin or email devcastin@gmail.com.</p>


</div>
